# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
# Docker и базы данных
out/
pgdata/
data/
*.db
*.sqlite3

# Логи
*.log

# Временные файлы
tmp/
temp/